body {
    font-family: 'Roboto', sans-serif;
  }
  
  header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #c133b0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  
  section {
    padding: 1rem;
    background-color: #fff;
  }


  /* Small View */
@media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
  /* Medium View */
  @media (min-width: 601px) and (max-width: 900px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Large View */
  @media (min-width: 901px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Add any other responsive styling as needed */
  