/* Reset some default styles */
body, h1, h2, p, label, input, button {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Customize your styles using :root variables */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --border-radius: 5px;
}

/* Apply :root variables to specific elements */
button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--bg-color);
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .contact-info {
    display: grid;
    grid-template-columns: 1fr 3fr  1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin: 20px 0;
  }
  
  .contact-info iframe {
  /*   display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 400px;
    height: 170px;
    border: none;
  }
  
  .contact-info h3 {
    text-align: l;
    margin-bottom: 10px;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .contact-info li {
    margin-bottom: 5px;
  }
  
  .social-links {
    display: grid;
    grid-template-columns: 1fr fr 1fr;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #264a41;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .social-links i {
    margin-right: 10px;
  }
  
  